
.middle {
    text-align: center;
  }
  
  .note {
    font-size: 14px;
  }
  
  hr {
    margin-bottom: 20px;
    padding: 10px;
    border: none; 
    border-bottom: 1px solid #ccc; 
  }
  

  .order-summary {
    position: relative; 
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #faf8ee;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.order-summary h2 {
    text-align: center;
    color: var(--primary);
    margin-bottom: 20px;
    font-size: 20px;
}

.card {
    text-align: left;
    font-weight: bold;
    margin-bottom: 40px; /* Increase the bottom margin to add space between cards */
    padding: 20px; /* Add padding to the card for spacing inside the card */
    border-bottom: 1px solid #ccc;
    background-color: #fff; /* Added background color to each card */
}

/* Ensuring the pricing section also has space between */
.pricing {
    margin-top: 20px; /* Adds space between the pricing section and the card */
    padding-top: 20px; /* Padding inside the pricing section */
    border-top: 1px solid #ccc; /* Separate pricing with a border */
}
  
 
  
  
  
  
  