
.middle {
  text-align: center;
  font-size: 14px;
}

hr {
  margin-bottom: 20px;
  padding: 10px;
  border: none; 
  border-bottom: 1px solid #ccc; 
}

/* Unlocked Boxes */
.payment-summary {
  position: relative; /* Position relative to position the trash button */
  width: 60%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #faf8ee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.payment-summary h2 {
  text-align: center;
  color: var(--primary);
  margin-bottom: 20px;
  font-size: 20px;
}



.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--font-colour);
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
}

.btn-submit {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: var(--secondary);
}

/* Back-button */
.back-button {
  display: inline-block; /* To make it behave like a button */
  font-weight: bold;
  color: var(--primary);
  text-align: center; /* Center align text */
  text-decoration: none; /* Remove underline for links */
  cursor: pointer; /* Change cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s; /* Smooth background color change */
}

/* Hover state */
.back-button:hover {
  color: var(--secondary);; /* Darker color on hover */
}


/* Styling for date field */

.form-group input[type="date"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-group input[type="date"]:focus {
  outline: none;
  box-shadow: 0 0 5px var(--primary);
}


/* Locked Boxes */

.locked-section {
  width: 60%;
  margin: 0 auto;
  border: 2px solid #dad9d0;
  border-radius: 5px;
  padding: 20px;
  background-color: #dfded4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.locked-section h2 {
  text-align: center;
  color: var(--primary);
  font-size: 20px;
}

.locked-section h2 img {
  vertical-align: middle;
  max-width: 8%; /* Adjust size as needed */
  height: auto;
}


/* Trash Button */
.trash-button {
  position: absolute; /* Position it relative to the parent container */
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px; /* Adjust size as needed */
  color: var(--primary); /* Use your primary color */
}

.trash-button:hover {
  color: var(--secondary); /* Change color on hover */
}

.trash-button i {
  margin: 0; /* Remove default margin if needed */
}


