* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.7px;
}
:root {
    --primary: #006531;
    --secondary: #009f77;
    --border-colour: #d1d1d1;
    --background-colour: #FAF4EB;
    --font-colour: #858585;
}
/* nav css */
nav {
    border-bottom: 2px solid var(--primary);
    background-color: var(--background-colour);
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
  }
  
  .logo {
    width: 200px;
  }
  
  .search-div {
    width: 40vw;
    display: flex;
    border: 1px solid var(--border-colour);
    border-radius: 25px;
    padding: 10px 20px;
    gap: 10px;
    height: 4rem;
  }
  
  .search-div input {
    flex: 1;
    border: none;
    font-size: 14px;
    background-color: var(--background-colour);
  }
  
  .search-div input:focus {
    outline: none;
  }
  
  .search-icon,
  .cart-icon {
    width: 25px;
    padding-top: 1.2rem;
  }
  
  .user-icon {
    width: 30px;
  }
  
  .cart-div {
    background-color: var(--primary);
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 10vh;
    width: 20vw;
  }
  
  .user-div {
    display: flex;
    align-items: center;
    gap: 15px;
  }

.main-container {
    padding: 4rem 10rem;
    padding-bottom: 15rem;
    background-color: var(--background-colour);
    width: 100vw;
    height: 100vh;
}
h1 {
    color: var(--secondary);
    text-align: center;
    font-size: xx-large;
    padding-bottom: 2rem;
}

h2 {
    color: var(--primary);
    text-align: center;
    font-size: medium;
}



/* footer */
footer {
    padding-top: 200px;
    background-color: #000 !important;
    padding: 80px 0;
    color: white;
    text-align: center;

  }
  
  .footer-container {
    display: flex;
    align-items: center;
  }
  
  .footer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }
  
  .footer-logo {
    width: 200px;
  }
  
  .AOC-div {
    width: 80%;
  }
  
  .AOC-div h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .AOC-div p {
    font-size: 15px;
    font-weight: 300;
  }
  
  .footer-right {
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .footer-links {
    display: flex;
    padding: 1rem;
  }

.footer-links p {
    padding: 1rem;
}
  
  .footer-links div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 300;
  }
  
  .footer-footer {
    font-weight: 300;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  /* login/register */
  .login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    background-color: none;
    border: 2px solid var(--border-colour);
    border-radius: 20px;
    text-align: center;
    padding: 35px 0 35px 0px;
    min-width: 380px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    width: 90%;
  }

  .register-input {
    background-color: transparent;
    padding: 15px 35px 15px 15px;
    border-radius: 25px;
    font-size: 14px;
    border-width: 2px;
    border-color: var(--border-colour);
    border-style: solid;
    color: black;
    text-align: left;
    width: 100%;
  }

  ::placeholder {
    color: var(--font-colour);
    opacity: 0.5; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--font-colour);
    opacity: 0.5;
  }

  #login-heading {
    color: var(--primary);
    padding: 10px;
  }

  .form-submit {
    background-color: var(--primary);
    color: white;
    border: none;
    width: 60%;
    font-size: 18px;
    padding: 15px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
  }

  .form-icon {
    height: 18px;
    width: 18px;
    position: relative;
    right: 35px;
  }

  .inline-bold {
    font-weight: 600;
  }

  .login-redirects {
    color: var(--font-colour);
  }

  #password-reset-text {
    color: var(--font-colour);
    padding: 10px;
  }

  /* settings-page */

  .settings-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    left: 20px;
    text-align: left;
  }

  #settings-heading {
    padding: 10px 10px 10px 0px;
  }

  .setting-menu-item {
    color: var(--primary);
    padding: 5px 0px;
    text-decoration: none;
    font-weight: 600;
  }

  .settings-main {
    border: 2px solid var(--border-colour);
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    position: relative;
    min-width: 350px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .setting-line {
    padding: 10px;
  }

  .setting-value {
    display: inline;
  }

  .setting-label {
    padding: 10px;
    font-weight: 600;
    display: inline;
  }

  .edit-line {
    text-align: right;
    padding: 10px 10px 0px 10px;
  }

  #edit-details-btn {
    position: relative;
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
  }

  .setting-divider {
    width: 100%;
    margin: 5px 0px;
    border: 1px solid var(--primary);
    opacity: 0.5;
  }

  .modal-overlay {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: var(--background-colour);
    margin: auto; 
    padding: 20px;
    border: 1px solid var(--border-colour);
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }

  .edit-details-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-colour);
  }