@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Istok Web", sans-serif;
    letter-spacing: 0.7px;
    text-decoration: none;
    z-index: 0;
}
:root {
  /* COLOUR SCHEME 1 */
    /* --primary: #55c8cc;
    --secondary: #02bb2a;
    --secondary: #ffffff;
    --border-colour: #d1d1d1;
    --background-colour: #FAF4EB;
    --font-colour: #858585; */


  /* COLOUR SCHEME 2 */
  --primary: #006531;
  --secondary: #009f77;
  --border-colour: #d1d1d1;
  --background-colour: #FAF4EB;
  --font-colour: #858585;

}
/* nav css */
nav {
    border-bottom: 2px solid var(--primary);
    background-color: var(--background-colour);
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
  }
  
  .logo {
    width: 200px;
  }
  
  hr {
    color:#d5d5d5;
  }

  .search-div {
    width: 40vw;
    display: flex;
    border: 1px solid var(--border-colour);
    border-radius: 25px;
    padding: 10px 20px;
    gap: 10px;
    height: 4rem;
  }
  
  .search-div input {
    flex: 1;
    border: none;
    font-size: 14px;
    background-color: var(--background-colour);
  }
  
  .search-div input:focus {
    outline: none;
  }
  
  .search-icon,
  .cart-icon {
    width: 25px;
    padding-top: 1.2rem;
  }
  
  .user-icon {
    width: 30px;
  }
  
  .cart-div {
    background-color: var(--primary);
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 10vh;
    width: 20vw;
  }
  
  .user-div {
    display: flex;
    align-items: center;
    gap: 15px;
  }

.main-container {
    padding: 4rem 10rem;
    padding-bottom: 15rem;
    background-color: var(--background-colour);
}
h1 {
    text-align: center;
    font-size: xx-large;
    margin: auto;
}

h2 {
    color: var(--primary);
    text-align: center;
    font-size: medium;
}




/* location availability selector */

.location-availability-wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("https://cdn.pixabay.com/photo/2024/06/11/13/30/ai-generated-8823151_1280.jpg");
  background-size: cover;
  width: 100vw;
  height: 50rem;
  margin-left: -10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: -4rem;
  padding-top: 4rem;
  /* margin-bottom: rem; */
  background-position: center;
  align-items: center;
}
.location-availability-wrapper h1 {
  color: white;
  font-size: 7rem;
  background-color: #515151bf;
  border-radius: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
}
.location-selector {
  background-color: #efefef;
  height: 10rem;
  padding: 2rem;
  display: flex;
  width: 70rem;
}
.location-selector-wrapper {
  display: flex;
  width: 40rem;
}
.pickme {
  display: flex;
  flex-direction: column;

}
.pickme a {
  display: none;
  background-color: #f9f9f9;
  color: black;
  border-style: none;
  position: relative;
  z-index: 3;
  height: 3rem;
}
.pickup {
  z-index: 2;
}
.selector {
  width: 18rem;
    height: 3.5rem;
  border-style: none;
  padding: 2rem;
}
.selector-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.price-selector-wrapper {
  padding: 0 3rem;
  align-items: center;
  justify-content: center;
  width: 15rem;
}
.not-selected {
  padding: 0.5rem 1.5rem;
  background-color: white;
  border-style: none;
  width: 10rem;
  height: 8rem;
}
.not-selected:hover {
  background-color: #ebebeb;
}
.not-selected:active {
  background-color: #cccccc;
}
.selected {
  padding: 0.5rem 1.5rem;
  background-color: #bfbfbf;
  border-style: none;
  width: 10rem;
  height: 8rem;
}
.km-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.km-wrapper p {
  text-align: center;
}
.km-wrapper input {
  height: 2rem;
  border-style: none;
  padding: 0.2rem;
  padding-left: 0.8rem;
  width: 10rem;
}
.availability-selector {
  background-color: #e2e2e2;
  height: 10rem;
  padding: 2rem;
  display: flex;
  width: 70rem;
}
.date-wrapper {
  width: 40rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.date-wrapper input {
  width: 18rem;
  height: 3.5rem;
  border-style: none;
  padding: 2rem;
  
}
.submit-search {
  display: flex;
  align-items: center;
}
.submit-search input {
  background-color: var(--primary);
  width: 10rem;
  height: 5rem;
  border-style: none;
  color: white;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
.submit-search input:hover {
  background-color: #429c9f;
}
.submit-search input:active {
  background-color: #2e7072;
}
/* filter bar */
.filter-bar-wrapper {
  background-color: white;
  width: 70rem;
  height: 5rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.filter-bar-wrapper-div {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  width: 41rem;
}
.filter-icon-border {
  border-style: solid;
  border-top: #fff;
  border-bottom: #fff;
  border-right: #fff;
}

.filter-bar-wrapper-div:hover {
  background-color: #e9e9e9;
}
.filter-bar-wrapper-div:active {
  background-color: #cccccc;
}



.fa-sort {
  font-size: 1rem;
}
.fa-filter {
  font-size: 1rem;
}


.filter-bar-search {
  width: 55rem;
  height: 5rem;
  border-style: none;
  padding: 1.2rem;
  padding-left: 2rem;
  font-size: 1.2rem;
}

.filter-bar-search:focus {
  outline: none;
}

/*  */
.filter-bar-search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter-bar-search-wrapper-i {
  padding: 2rem;
  border-style: solid;
  border-top: #fff;
  border-left: #fff;
  border-bottom: #fff;
}

.filter-bar-search-wrapper-i:hover {
  background-color: #e9e9e9;
}

.filter-bar-search-wrapper-i:active{
  background-color: #cccccc;
}





  /* product card */
.product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  border-style: solid;
  border-right: #fff;
  border-left: #fff;
  border-bottom: #fff;
}

.card {
  background: #fff;
  margin: 1rem 2.5rem;
  box-shadow: 0rem 0rem 5px 0px;
}

.card .imgBox {
  position: relative;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 2rem; */
  z-index: 1;
}

.make-model {
  font-size: 1rem;
  color: black;
  display: flex;
  padding-right: 1rem;
}

.make-model h3 {
  padding-right: 1rem;
}

.card .contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.contentBox {
  /* padding: 3rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.card-content {
  width: 30rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.name-price .car-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.card .contentBox h3 {
  font-size: 18px;
  /* color: white; */
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.card .contentBox .price {
  font-size: 24px;
  /* color: white; */
  font-weight: 700;
  letter-spacing: 1px;
}

#orderItem {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25rem;
}

.submit  {
  background-color: var(--primary);
  color: white;
  border-style: none;
  width: 8rem;
  height: 4rem;
  font-size: 1.3rem;
}

.price-div {
  font-size: 1.3rem;
}

.name-price .car-details h2 span {
  font-size: 14px;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}





.car-details div {
  display: flex;
  padding: 0.3rem 1.5rem;
  border-right: #d5d5d5;
  border-bottom: #d5d5d5;
  border-top: #fff;
  border-left: #fff;
  border-style: solid;
  width: 10rem;
  align-items: center;
  justify-content: space-between;
  color: #000;
  height: 2.5rem;
}

.car-details h2 {
  font-size: 24;
  color: black;
  font-weight: 700;
  letter-spacing: 2px;

}
.detail-price {
  border-style: solid;
  border-top: #d5d5d5;
  /* border-bottom: #d5d5d5; */
  border-right: #fff;
  border-left: #fff;
  width: 20rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.detail-price h2 {
  color: #000;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
}
.card .contentBox .buy {
  position: relative;
  opacity: 0;
  /* margin-top: 5rem; */
  padding: 10px 30px;
  margin: 2rem;
  color: #000000;
  text-decoration: none;
  background: var(--primary);
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.car {
  height: 10rem;
  width: 15rem;
  object-fit: contain;
}

/* login/register */
.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    background-color: none;
    border: 2px solid var(--border-colour);
    border-radius: 20px;
    text-align: center;
    padding: 35px 0 35px 0px;
    min-width: 380px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    width: 90%;
  }

  .register-input {
    background-color: transparent;
    padding: 15px 35px 15px 15px;
    border-radius: 25px;
    font-size: 14px;
    border-width: 2px;
    border-color: var(--border-colour);
    border-style: solid;
    color: black;
    text-align: left;
    width: 100%;
  }

  ::placeholder {
    color: var(--font-colour);
    opacity: 0.5; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--font-colour);
    opacity: 0.5;
  }

  #login-heading {
    color: var(--primary);
    padding: 10px;
  }

  .form-submit {
    background-color: var(--primary);
    color: white;
    border: none;
    width: 60%;
    font-size: 18px;
    padding: 15px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
  }

  .form-icon {
    height: 18px;
    width: 18px;
    position: relative;
    right: 35px;
  }

  .inline-bold {
    font-weight: 600;
  }

  .login-redirects {
    color: var(--font-colour);
  }

  #password-reset-text {
    color: var(--font-colour);
    padding: 10px;
  }

  /* settings-page */

  .settings-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    left: 20px;
    text-align: left;
  }

  #settings-heading {
    padding: 10px 10px 10px 0px;
  }

  .setting-menu-item {
    color: var(--primary);
    padding: 5px 0px;
    text-decoration: none;
    font-weight: 600;
  }

  .settings-section {
    border: 2px solid var(--border-colour);
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    position: relative;
    min-width: 350px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .setting-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-left: 1%;
  }

  .setting-value {
    display: inline;
  }

  .setting-label {
    padding: 10px;
    font-weight: 600;
    display: inline;
  }

  .edit-line {
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 1%;
  }

  #edit-details-btn {
    right: 0;
    position: relative;
    color: var(--primary);
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
  }

  .setting-divider {
    width: 100%;
    margin: 5px 0px;
    border: 1px solid var(--primary);
    opacity: 0.5;
  }

  #modal-overlay {
    position: fixed;
    z-index: 1;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: 200ms ease-in-out;
    pointer-events: none;
  }

  #modal-overlay.active {
    pointer-events: all;
    opacity: 1;
  }

  .modal {
    background-color: var(--background-colour);
    margin: auto; 
    padding: 20px;
    border: 1px solid var(--border-colour);
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 20px;
    z-index: 2;
  }

  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .edit-details-form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-colour);
  }

  .close-btn {
    position: absolute;
    right: 5%;
    background: none;
    border: none;
    z-index: 2;
    height: 5%;
    width: 5%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
  }

  .setting-section-heading {
    color: var(--secondary);
    top: 0;
    position: relative;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background-color:#ff9ace;
    filter: invert(1);
    border-radius: 5px;
    padding: 3px;
    color: white;
    cursor: pointer;
    margin: 0;
    right: 15px;
    position: absolute;

  }

#dob {
    width: 100%;
    position: relative;
  }

  /* suppliersView */
.supplier-box {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 80%;
  border: 1px solid var(--border-colour);
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.suppliers-logo {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.supplier-name {
  font-weight: 600;
  color: black;
}

.supplier-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.suppliers-edit-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.suppliers-edit-btn {
  margin: 10px;
}

#edit-supplier {
  font-weight: 600;
  color: black;
  background: none;
  border: none;
}

#delete-supplier {
  font-weight: 600;
  color: red;
}
#edit-supplier:hover {
  cursor: pointer;
}

#delete-supplier {
  cursor: pointer;
}

.supplier-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 18%;
}

.supplier-search-btn {
  background: none;
  border: none;
}

.supplier-search-btn:hover {
  cursor: pointer;
}

.add-supplier-btn {
  background-color: var(--primary);
  color: white;
  width: 150px;
  height: 100px;
  padding: 20px;
  font-weight: 600;
  border-radius: 10px;
}

.supplier-hbox {
  display: flex;
  flex-direction: row;
}

.supplier-title {
  font-size: 40px;
  font-weight: 600;
}

.supplier-logo {
  width: 20vw;
  height: 20vw;
  margin-right: 40px;
}

.supplier-detail-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.supplier-title-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#return-btn {
  font-weight: 600;
  color: black;
  text-decoration: underline;
}
