<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0"> 


    <servlet>
  	    <servlet-class>controller.ConnServlet</servlet-class>
  	    <servlet-name>ConnServlet</servlet-name>
    </servlet>
    <servlet-mapping>
  	    <servlet-name>ConnServlet</servlet-name>
  	    <url-pattern>/ConnServlet</url-pattern>
        <load-on-startup>0</load-on-startup>
    </servlet-mapping>    
    <servlet>
  	    <servlet-class>controller.LoginServlet</servlet-class>
  	    <servlet-name>LoginServlet</servlet-name>
    </servlet>
    <servlet-mapping>
  	    <servlet-name>LoginServlet</servlet-name>
  	    <url-pattern>/login</url-pattern>
        <load-on-startup>0</load-on-startup>
    </servlet-mapping>    

    <servlet>
  	    <servlet-class>controller.RegisterServlet</servlet-class>
  	    <servlet-name>Register</servlet-name>
    </servlet>
    <servlet-mapping>
  	    <servlet-name>Register</servlet-name>
  	    <url-pattern>/register</url-pattern>
    </servlet-mapping>


    <servlet>
        <!-- Override init parameter to avoid nasty -->
        <!-- file locking issue on windows.         -->
        <servlet-name>default</servlet-name>
        <init-param>
            <param-name>useFileMappedBuffer</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet> 
    
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchCarServlet</servlet-name>
        <servlet-class>controller.SearchCarServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCarServlet</servlet-name>
        <url-pattern>/SearchCarServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LocationAvailabilityServlet</servlet-name>
        <servlet-class>controller.LocationAvailabilityServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LocationAvailabilityServlet</servlet-name>
        <url-pattern>/LocationAvailabilityServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateListingServlet</servlet-name>
        <servlet-class>controller.UpdateListingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateListingServlet</servlet-name>
        <url-pattern>/UpdateListingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateListingServlet</servlet-name>
        <servlet-class>controller.CreateListingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateListingServlet</servlet-name>
        <url-pattern>/CreateListingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteListingServlet</servlet-name>
        <servlet-class>controller.DeleteListingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteListingServlet</servlet-name>
        <url-pattern>/DeleteListingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateBookingServlet</servlet-name>
        <servlet-class>controller.CreateBookingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateBookingServlet</servlet-name>
        <url-pattern>/CreateBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModifyBookingServlet</servlet-name>
        <servlet-class>controller.ModifyBookingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyBookingServlet</servlet-name>
        <url-pattern>/ModifyBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <servlet-class>controller.DeleteBookingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <url-pattern>/DeleteBookingServlet</url-pattern>
    </servlet-mapping>
    

    <servlet>
        <servlet-name>addOrderItem</servlet-name>
        <servlet-class>controller.addOrderItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addOrderItem</servlet-name>
        <url-pattern>/addOrderItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewOrders</servlet-name>
        <servlet-class>controller.viewOrders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewOrders</servlet-name>
        <url-pattern>/viewOrders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateDriver</servlet-name>
        <servlet-class>controller.updateDriver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateDriver</servlet-name>
        <url-pattern>/updateDriver</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>controller.deleteOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addPayment</servlet-name>
        <servlet-class>controller.addPayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPayment</servlet-name>
        <url-pattern>/addPayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatePayment</servlet-name>
        <servlet-class>controller.updatePayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatePayment</servlet-name>
        <url-pattern>/updatePayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePayment</servlet-name>
        <servlet-class>controller.deletePayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePayment</servlet-name>
        <url-pattern>/deletePayment</url-pattern>
    </servlet-mapping>

</web-app>
